body {
  margin: 0;
  line-height: normal;
}
.popup-overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.rectangle-div63,
.rectangle-div64 {
  position: absolute;
  top: -160px;
  left: 1374.43px;
  background-color: var(--color-gray-200);
  box-shadow: -20px 4px 4px rgba(152, 168, 248, 0.25);
  width: 1033.36px;
  height: 1718.49px;
  transform: rotate(29.66deg);
  transform-origin: 0 0;
}
.rectangle-div64 {
  top: -474.5px;
  left: 775.07px;
  background-color: var(--color-gray-400);
  width: 1497.33px;
  height: 551.8px;
}
.selamat-datang-di {
  margin-block-start: 0;
  margin-block-end: 0;
}
.mulai-belajar-sekarang,
.selamat-datang-di-sintar {
  position: absolute;
  height: 7.62%;
  width: 47.68%;
  left: 4.76%;
  letter-spacing: -0.01em;
  line-height: 80px;
  display: inline-block;
}
.selamat-datang-di-sintar {
  top: 41.48%;
  font-size: var(--hero-h1-size);
}
.mulai-belajar-sekarang {
  top: 49.1%;
}
.rectangle-div65 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-2xs);
  background-color: var(--actionable-item);
}
.register-div1 {
  position: absolute;
  top: 28.6%;
  left: 14.67%;
  letter-spacing: -0.01em;
  font-weight: 600;
  display: inline-block;
}
.button-div18 {
  position: absolute;
  top: 655px;
  left: 80px;
  width: 296px;
  height: 91px;
  text-align: center;
  color: var(--color-white);
}
.jenis-langganan {
  margin: 0;
}
.mochamad-naufal-rizqulloh-container {
  line-break: anywhere;
  width: 100%;
}
.kelas-yang-diikuti,
.mochamad-naufal-rizqulloh-jeni {
  position: absolute;
  width: 83.99%;
  letter-spacing: -0.01em;
  line-height: 30px;
  display: flex;
  align-items: center;
}
.mochamad-naufal-rizqulloh-jeni {
  height: 9.23%;
  top: 2.44%;
  left: -10.1%;
  text-align: right;
}
.kelas-yang-diikuti {
  height: 3.85%;
  top: 18.33%;
  left: 3.45%;
}
.ellipse-icon24,
.user-r-icon {
  position: absolute;
  top: 20px;
  left: 310px;
  width: 70px;
  height: 70px;
}
.user-r-icon {
  top: 30px;
  left: 320px;
  width: 50px;
  height: 50px;
  overflow: hidden;
}
.rectangle-div66 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-2xs);
  background-color: var(--color-white);
  border: 1px solid var(--actionable-item);
  box-sizing: border-box;
}
.log-in-div17 {
  position: absolute;
  top: 27.5%;
  left: 10.75%;
  letter-spacing: -0.01em;
  font-weight: 500;
  display: inline-block;
}
.button-div19 {
  position: absolute;
  top: 96px;
  left: 213px;
  width: 167px;
  height: 40px;
  cursor: pointer;
  text-align: center;
  font-size: var(--font-size-2xs);
  color: var(--actionable-item);
}
.fiber-optik-progress-69 {
  position: absolute;
  height: 30%;
  width: 44.25%;
  top: 35%;
  left: 3.25%;
  letter-spacing: -0.01em;
  line-height: 30px;
  display: flex;
  align-items: center;
}
.rectangle-div67 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-2xs);
  background-color: var(--color-gray-1200);
  border: 1px solid var(--actionable-item);
  box-sizing: border-box;
}
.log-in-div18 {
  position: absolute;
  top: 27.5%;
  left: 14.34%;
  letter-spacing: -0.01em;
  font-weight: 500;
  display: inline-block;
}
.button-div20 {
  position: absolute;
  height: 40%;
  width: 41.75%;
  top: 30%;
  right: 4.75%;
  bottom: 30%;
  left: 53.5%;
  cursor: pointer;
  text-align: center;
  font-size: var(--font-size-2xs);
  color: var(--actionable-item);
}
.frame-div16,
.frame-div17 {
  left: 0;
  border-top: 3px solid var(--color-gray-1100);
  border-right: 0 solid var(--color-gray-1100);
  border-bottom: 0 solid var(--color-gray-1100);
  border-left: 0 solid var(--color-gray-1100);
  width: 400px;
  height: 100px;
}
.frame-div16 {
  position: absolute;
  top: 177px;
  box-sizing: border-box;
  overflow: hidden;
}
.frame-div17 {
  top: 277px;
}
.frame-div15,
.frame-div17,
.frame-div18 {
  position: absolute;
  box-sizing: border-box;
  overflow: hidden;
}
.frame-div18 {
  height: 12.82%;
  width: 98.52%;
  top: 48.33%;
  right: 1.48%;
  bottom: 38.85%;
  left: 0;
  border-top: 3px solid var(--color-gray-1100);
  border-right: 0 solid var(--color-gray-1100);
  border-bottom: 3px solid var(--color-gray-1100);
  border-left: 0 solid var(--color-gray-1100);
}
.frame-div15 {
  top: -3px;
  left: -3px;
  border-radius: var(--br-sm);
  background-color: var(--color-gray-100);
  border: 3px solid var(--color-gray-1100);
  width: 406px;
  height: 780px;
}
.group-div45 {
  position: absolute;
  top: 113px;
  left: 1231px;
  width: 400px;
  height: 774px;
  font-size: var(--body-p-size);
}
.home-div8,
.kelas-div8,
.kontak-div8,
.langganan-div7,
.log-in-div21 {
  position: absolute;
  top: 21px;
  letter-spacing: -0.01em;
  font-weight: 500;
  display: inline-block;
}
.home-div8 {
  left: 282px;
  cursor: pointer;
}
.kelas-div8,
.kontak-div8,
.langganan-div7,
.log-in-div21 {
  left: 385px;
}
.kontak-div8,
.langganan-div7,
.log-in-div21 {
  left: 481px;
}
.kontak-div8,
.log-in-div21 {
  left: 623px;
}
.log-in-div21 {
  top: 27.5%;
  left: 26.92%;
}
.bell-r-icon7,
.button-div23 {
  position: absolute;
  top: 10px;
  left: 1501px;
  width: 130px;
  height: 40px;
}
.bell-r-icon7 {
  top: 7px;
  left: 8px;
  width: 32px;
  height: 32px;
  overflow: hidden;
}
.div16,
.ellipse-icon25 {
  position: absolute;
  top: 3px;
  left: 4px;
  width: 40px;
  height: 40px;
}
.div16 {
  top: 1.5px;
  left: 6px;
  letter-spacing: -0.01em;
  font-weight: 500;
  display: inline-block;
  width: 2.7px;
  height: 11.7px;
}
.group-div46,
.group-div47 {
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
}
.group-div46 {
  top: 7px;
  left: 1438px;
  width: 44px;
  height: 43px;
  font-size: var(--font-size-4xs);
  color: var(--color-black);
}
.sintar-logo-4-18 {
  position: absolute;
  top: 5px;
  left: 68px;
  width: 117.11px;
  height: 50px;
  object-fit: cover;
}
.navigation-c-div8 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 1680px;
  height: 60px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-2xs);
  color: var(--actionable-item);
}
.home-page-div {
  position: relative;
  background-color: var(--color-gray-100);
  width: 100%;
  height: 945px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--color-black);
  font-family: var(--body-p);
}
.notifikasi-baru-nih {
  top: 33px;
  left: 49px;
  font-weight: 600;
}
.cek-div,
.notifikasi-baru-nih,
.slim-ftth-div {
  position: absolute;
  letter-spacing: -0.01em;
  display: inline-block;
}
.slim-ftth-div {
  top: 72px;
  left: 136px;
  font-size: var(--body-h4-size);
  text-align: center;
}
.cek-div {
  top: 6px;
  left: 39px;
}
.frame-div1 {
  position: absolute;
  top: 168px;
  left: 125px;
  border-radius: var(--br-xs);
  background-color: var(--color-gray-1000);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 150px;
  height: 50px;
  overflow: hidden;
  cursor: pointer;
}
.frame-div,
.group-div {
  position: absolute;
  width: 400px;
  height: 250px;
}
.frame-div {
  top: 0;
  left: 0;
  border-radius: var(--br-sm);
  background-color: var(--color-gray-100);
  border: 3px solid var(--color-gray-1100);
  box-sizing: border-box;
  overflow: hidden;
}
.group-div {
  top: 57px;
  left: 50px;
}
.mentor-ali-mengubungi {
  position: absolute;
  top: 72px;
  left: 59px;
  font-size: var(--body-h4-size);
  letter-spacing: -0.01em;
  text-align: center;
  display: inline-block;
}
.frame-div3 {
  position: absolute;
  top: 168px;
  left: 125px;
  border-radius: var(--br-xs);
  background-color: var(--color-gray-1000);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 150px;
  height: 50px;
  overflow: hidden;
}
.group-div1 {
  position: absolute;
  top: 347px;
  left: 50px;
  width: 400px;
  height: 250px;
}
.pertanyaan-di-forum {
  margin-block-start: 0;
  margin-block-end: 0;
}
.telah-dijawab-p {
  margin: 0;
}
.pertanyaan-di-forum-telah-dija {
  position: absolute;
  top: 72px;
  left: 75px;
  font-size: var(--body-h4-size);
  letter-spacing: -0.01em;
  text-align: center;
  display: inline-block;
}
.group-div2 {
  position: absolute;
  top: 637px;
  left: 50px;
  width: 400px;
  height: 250px;
}
.home-pagenotif-div {
  position: relative;
  background-color: var(--color-gray-1200);
  width: 500px;
  height: 945px;
  overflow: hidden;
  max-width: 90%;
  max-height: 90%;
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--color-black);
  font-family: var(--body-p);
}
