body {
  margin: 0;
  line-height: normal;
}
.popup-overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.siap-untuk-mengerjakan-slim,
.slim-bahasa-indonesia-hari {
  position: absolute;
  height: 7.62%;
  width: 58.87%;
  top: 41.48%;
  left: 4.76%;
  font-size: var(--hero-h1-size);
  letter-spacing: -0.01em;
  line-height: 80px;
  display: inline-block;
  text-align: left;
}
.slim-bahasa-indonesia-hari {
  width: 47.68%;
  top: 49.1%;
  font-size: var(--font-size-3xl);
}
.rectangle-div8 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-2xs);
  background-color: var(--actionable-item);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
}
.log-in-div5 {
  position: absolute;
  top: 28.93%;
  left: 26.56%;
  letter-spacing: -0.01em;
  font-weight: 500;
  display: inline-block;
}
.button-div6 {
  position: absolute;
  top: 571px;
  left: 80px;
  width: 226px;
  height: 70px;
  cursor: pointer;
  font-size: var(--body-h4-size);
  color: var(--color-white);
}
.home-div2,
.home-div3,
.kelas-div2,
.kontak-div2,
.langganan-div2 {
  position: absolute;
  letter-spacing: -0.01em;
  font-weight: 500;
  display: inline-block;
}
.home-div2 {
  top: 654px;
  left: 80px;
  color: var(--actionable-item);
  cursor: pointer;
}
.home-div3,
.kelas-div2,
.kontak-div2,
.langganan-div2 {
  top: 21px;
}
.home-div3 {
  left: 282px;
  cursor: pointer;
}
.kelas-div2,
.kontak-div2,
.langganan-div2 {
  left: 385px;
}
.kontak-div2,
.langganan-div2 {
  left: 481px;
}
.kontak-div2 {
  left: 623px;
}
.rectangle-div9 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-2xs);
  background-color: var(--color-white);
  border: 1px solid var(--actionable-item);
  box-sizing: border-box;
}
.log-in-div6 {
  position: absolute;
  top: 27.5%;
  left: 26.92%;
  letter-spacing: -0.01em;
  font-weight: 500;
  display: inline-block;
}
.bell-r-icon2,
.button-div7 {
  position: absolute;
  top: 10px;
  left: 1501px;
  width: 130px;
  height: 40px;
}
.bell-r-icon2 {
  top: 7px;
  left: 8px;
  width: 32px;
  height: 32px;
  overflow: hidden;
}
.div3,
.ellipse-icon12 {
  position: absolute;
  top: 3px;
  left: 4px;
  width: 40px;
  height: 40px;
}
.div3 {
  top: 1.5px;
  left: 6px;
  letter-spacing: -0.01em;
  font-weight: 500;
  display: inline-block;
  width: 2.7px;
  height: 11.7px;
}
.group-div10,
.group-div9 {
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
}
.group-div9 {
  top: 7px;
  left: 1438px;
  width: 44px;
  height: 43px;
  font-size: var(--font-size-4xs);
  color: var(--color-black);
}
.sintar-logo-4-13 {
  position: absolute;
  top: 5px;
  left: 68px;
  width: 117.11px;
  height: 50px;
  object-fit: cover;
}
.navigation-c-div3 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 1680px;
  height: 60px;
  overflow: hidden;
  color: var(--actionable-item);
}
.kelas-1slimpersiapan-div {
  position: relative;
  background-color: var(--color-gray-100);
  width: 100%;
  height: 945px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-2xs);
  color: var(--color-black);
  font-family: var(--body-p);
}
.notifikasi-baru-nih {
  top: 33px;
  left: 49px;
  font-weight: 600;
}
.cek-div,
.notifikasi-baru-nih,
.slim-ftth-div {
  position: absolute;
  letter-spacing: -0.01em;
  display: inline-block;
}
.slim-ftth-div {
  top: 72px;
  left: 136px;
  font-size: var(--body-h4-size);
  text-align: center;
}
.cek-div {
  top: 6px;
  left: 39px;
}
.frame-div1 {
  position: absolute;
  top: 168px;
  left: 125px;
  border-radius: var(--br-xs);
  background-color: var(--color-gray-1000);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 150px;
  height: 50px;
  overflow: hidden;
  cursor: pointer;
}
.frame-div,
.group-div {
  position: absolute;
  width: 400px;
  height: 250px;
}
.frame-div {
  top: 0;
  left: 0;
  border-radius: var(--br-sm);
  background-color: var(--color-gray-100);
  border: 3px solid var(--color-gray-1100);
  box-sizing: border-box;
  overflow: hidden;
}
.group-div {
  top: 57px;
  left: 50px;
}
.mentor-ali-mengubungi {
  position: absolute;
  top: 72px;
  left: 59px;
  font-size: var(--body-h4-size);
  letter-spacing: -0.01em;
  text-align: center;
  display: inline-block;
}
.frame-div3 {
  position: absolute;
  top: 168px;
  left: 125px;
  border-radius: var(--br-xs);
  background-color: var(--color-gray-1000);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 150px;
  height: 50px;
  overflow: hidden;
}
.group-div1 {
  position: absolute;
  top: 347px;
  left: 50px;
  width: 400px;
  height: 250px;
}
.pertanyaan-di-forum {
  margin-block-start: 0;
  margin-block-end: 0;
}
.telah-dijawab-p {
  margin: 0;
}
.pertanyaan-di-forum-telah-dija {
  position: absolute;
  top: 72px;
  left: 75px;
  font-size: var(--body-h4-size);
  letter-spacing: -0.01em;
  text-align: center;
  display: inline-block;
}
.group-div2 {
  position: absolute;
  top: 637px;
  left: 50px;
  width: 400px;
  height: 250px;
}
.home-pagenotif-div {
  position: relative;
  background-color: var(--color-gray-1200);
  width: 500px;
  height: 945px;
  overflow: hidden;
  max-width: 90%;
  max-height: 90%;
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--color-black);
  font-family: var(--body-p);
}
